body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  text-align: center;
  font-family: 'Sacramento', serif;
  color: #66bfbf;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', serif;
  font-weight: normal;
  color: #66bfbf;
  padding: 10px;
}

h3 {
  font-family: 'Montserrat', serif;
  color: #11999e;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.nana-avi {
  border-radius: 100%;
  height: 12.5%;
  width: 12.5%;
}

.skills-avi {
  border-radius: 100%;
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 30px;
}

.game-controller {
  border-radius: 100%;
  height: 25%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 10% auto 10% auto;
  text-align: left;
}

.intro {
  width: 30%;
  margin: auto;
}

p {
  line-height: 2;
}

hr {
  border-style: dotted none none;
  border-color: #eaf6f6;
  border-width: 6px;
  width: 4%;
  margin: 100px auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

a {
  color: #11999e;
  font-family: 'Montserrat', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
